<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%#= render 'shared/errors', obj: @user%>
      <%= form_with(scope: :session, url: login_path, class: 'p-5 shadow bg-body rounded clearfix', local: true) do |f|%>
        <div class="input-group row m-3">
          <%= f.label :email_id, class: 'col-2 col-form-label' %><br/>
          <div class="col-10">
            <%= f.email_field :email_id, class: 'form-control shadow rounded'%>
          </div>
        </div>
        <div class="input-group row m-3">
          <%= f.label :password, class: 'col-2 col-form-label' %><br/>
          <div class="col-10">
            <%= f.password_field :password, class: 'form-control shadow rounded'%>
          </div>
        </div>
        <div class="btn-group float-end align-items-center" role="group">
          <%= f.submit 'Login', class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>