<h1 class="text-center mt-4"><%= @user.username %></h1>
<%= gravatar_for @user, size: 200 %>

<div class="d-flex justify-content-center mt-4">
  <div class="btn-group" role="group">
    <% if logged_in? && @user == current_user %>
      <%= link_to 'Edit Profile',
                  edit_user_path(@user),
                  class: 'btn btn-primary',
                  type: 'button'%>
    <% end %>
    <% if logged_in? && (@user == current_user || current_user.admin?) %>
      <%= link_to 'Delete Profile',
                  user_path(@user),
                  method: 'delete',
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger',
                  type: 'button'%>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 class="text-center mt-4">Articles</h3>
  <%= render 'layouts/pagination_articles' %>
  <%= render 'articles/article'%>
  <%= render 'layouts/pagination_articles' %>
</div>
